{{- define "main" }}

<header class="page-header">
  <h1>
    {{ .Title }}
    {{- if (.Param "ShowRssButtonInSectionTermList") }}
    {{- $rss := (.OutputFormats.Get "rss") }}
    {{- if (eq .Kind `page`) }}
    {{- $rss = (.Parent.OutputFormats.Get "rss") }}
    {{- end }}
    {{- with $rss }}
    <a href="{{ .RelPermalink }}" title="RSS" aria-label="RSS">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" height="23">
        <path d="M4 11a9 9 0 0 1 9 9" />
        <path d="M4 4a16 16 0 0 1 16 16" />
        <circle cx="5" cy="19" r="1" />
      </svg>
    </a>
    {{- end }}
    {{- end }}
  </h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description }}
  </div>
  {{- end }}
</header>

{{- $pubs := union .RegularPages .Sections }}
<!-- <div class="post-content">
{{- if site.Params.ShowOnlySelectedPubs }}
{{- $pubs = where $pubs "Params.selected" true }}
<h3>Selected Publications</h3>
{{- else }}
<h3>Publications</h3>
{{- end }}
</div> -->
{{- range $pubs }}
  <article class="pub-entry">
    {{- $isHidden := (.Param "cover.hiddenInList") | default (.Param "cover.hidden") | default false }}
    {{- partial "cover.html" (dict "cxt" . "IsSingle" false "isHidden" $isHidden) }}
    <div class="pub-meta">
      <header class="entry-header">
        <h4 class="entry-hint-parent">
          {{ .Title }}
        </h4>
      </header>
      {{- if and .Summary (ne (.Param "hideSummary") true) }}
      <div class="entry-content">
        <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
      </div>
      {{- end }}
      <div class="entry-content">
      {{- partial "pub_entry_authors.html" . }}
      </div>
      <div class="entry-footer">
      {{- partial "pub_entry_links.html" . }}
      </div>
    </div>
  </article>
{{- end }}

{{- end }}{{/* end main */}}
