{{ if .Site.Params.showCopyright }}
<div class="copyright-card">
  <div class="copyright-card-main">
    <div class="copyright-info">
      <h3 class="copyright-title">{{ .Title }}</h3>
      <p class="copyright-link"><a href="{{ .Permalink }}">{{ .Permalink }}</a></p>
      <div class="copyright-meta">
        <span><strong>Author</strong><br>{{ .Site.Author.name | default "博主" }}</span>
        <span><strong>Published at</strong><br>{{ .Date.Format "January 2, 2006" }}</span>
        <span><strong>Copyright</strong><br>
          <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" target="_blank">
            CC BY-NC-SA 4.0
          </a>
        </span>
      </div>
    </div>
    <div class="copyright-icon">©</div>
  </div>
</div>
{{ end }}