{{- $toc := .TableOfContents -}}
{{- $hasHeaders := ge (len (findRE "<li>" $toc)) 1 -}}
{{- if $hasHeaders -}}
<aside id="toc-container" class="toc-container wide">
    <div class="toc">
        <details {{ if (.Param "TocOpen") }}open{{ end }}>
            <summary accesskey="c" title="(Alt + C)">
                <span class="details">{{- i18n "toc" | default "Table of Contents" }}</span>
            </summary>
            <div class="inner">
                {{- $toc -}}
            </div>
        </details>
    </div>
</aside>
<script>
    (() => {
        let activeElement;
        let elements = [];

        function setActiveLink(element, active) {
            const id = encodeURI(element.getAttribute('id')).toLowerCase();
            const link = document.querySelector(`.inner ul li a[href="#${id}"]`);
            if (link) {
                link.classList.toggle('active', active);
            }
        }

        window.addEventListener('DOMContentLoaded', () => {
            checkTocPosition();
            elements = Array.from(document.querySelectorAll('h2[id],h3[id]'));
            if (elements.length === 0) {
                return;
            }

            activeElement = elements[0];
            setActiveLink(activeElement, true);
        }, false);

        window.addEventListener('resize', checkTocPosition, false);

        window.addEventListener('scroll', () => {
            if (elements.length === 0) {
                return;
            }

            activeElement = elements.find((element) => {
                const offset = getOffsetTop(element) - window.pageYOffset;
                return offset > 0 && offset < window.innerHeight / 2;
            }) || activeElement;

            elements.forEach((element) => {
                setActiveLink(element, element === activeElement);
            });
        }, false);

        function checkTocPosition() {
            const container = document.getElementById('toc-container');
            if (!container) {
                return;
            }

            const main = parseInt(getComputedStyle(document.body).getPropertyValue('--article-width'), 10);
            const tocWidth = parseInt(getComputedStyle(document.body).getPropertyValue('--toc-width'), 10);
            const gap = parseInt(getComputedStyle(document.body).getPropertyValue('--gap'), 10);
            const isWide = document.body.scrollWidth - main - (tocWidth * 2) - (gap * 4) > 0;
            container.classList.toggle('wide', isWide);
        }

        function getOffsetTop(element) {
            if (!element.getClientRects().length) {
                return 0;
            }
            const rect = element.getBoundingClientRect();
            return rect.top + element.ownerDocument.defaultView.pageYOffset;
        }
    })();
</script>
{{- end }}
